@use 'styles/_theme' as theme;
.Box {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 16px;
    &_BoxTitleArrow {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        &_Title {
            color: theme.$white;
        }
    }
    &_Description {
        color: theme.$white2
    }
}