@use '/styles/_theme.scss' as theme;
.Box {
    height: 60px;
    width: 100%;
    background-color: theme.$darkGrey;
    display: flex;
    align-items: center;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.24);
    &_ArrowIcon {
        margin-left: 16px;
    }
    &_Input {
        display: flex;
        flex-direction: column;
        height: 20px;
        margin-left: 24px;
        width: 70%;
        font-size: 18px;
        color: theme.$white;
    }
    &_Input::placeholder {
        font-size: 18px;
    }
}