@use 'styles/_theme' as theme;
.BoxListTile {
    display: flex;
    flex-direction: row;
    padding: 34px;
    padding-bottom: 0;
    gap: 28px;
    align-items: center;
    &_Icon {
        & path,
        & rect {
            fill: theme.$white
        }
    }
    &_BoxDescription {
        display: flex;
        flex-direction: column;
        gap: 4px;
        & p {
            color: theme.$white3;
        }
        & h3 {
            color: theme.$white;
        }
    }
    &_IconEdit {
        margin-left: auto;
    }
}