    @use 'styles/_theme' as theme;
    .Box {
        align-self: flex-start;
    }
    
    .Pencil {
        height: 46px;
        width: 46px;
        margin-top: -10px;
        padding: 15px;
        // background-color: red;
    }