@use '/styles/_theme.scss' as theme;
.ListOfStoreCategory {
    width: 100%;
    overflow-x: auto;
    display: flex;
    gap: 12px;
    &_Box {
        height: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        &_Text {
            white-space: nowrap;
            text-overflow: ellipsis;
            font-size: 18px;
            color: #E3E3E5;
        }
        &_TextActive {
            white-space: nowrap;
            text-overflow: ellipsis;
            font-size: 18px;
            color: theme.$subject;
        }
        &_UnderlineActive {
            border-radius: 4px 4px 0 0;
            width: 100%;
            height: 3px;
            background: theme.$subject;
        }
        &:first-child {
            margin-left: 16px;
        }
        &:last-child {
            margin-right: 16px;
        }
    }
}

// @media screen and (min-width: 500px) {
//     .ListOfStoreCategory {
//         color: #fff;
//         transition: color 0.8s ease;
//         // &:hover {
//         //     color: #FFF;
//         //     color: #0004
//         // }
//         &::-webkit-scrollbar {
//             border-radius: 1vw;
//             // background-color: red;
//             height: 4px;
//             &-thumb {
//                 // width: 1px;
//                 // border-radius: 5vw;
//                 box-shadow: inset 0 0 0 1vw;
//                 &-button {
//                     width: 0;
//                     height: 0;
//                     display: none;
//                 }
//             }
//         }
//     }
// }