@use '/styles/theme.scss' as theme;
.app {
    &_Scaffold {
        width: 100%;
        display: flex;
        background-color: theme.$black;
        justify-content: center;
        align-items: center;
    }
}