@use 'styles/_theme' as theme;
.Box {
    display: flex;
    padding: 16px 16px;
    flex-direction: row;
    gap: 28px;
    align-items: center;
    &_BoxContactTitleAndData {
        display: flex;
        flex-direction: column;
        gap: 4px;
        &_Title {
            text-transform: capitalize;
            color: theme.$white2;
        }
        &_Data {
            color: theme.$white;
        }
    }
}