@use '/styles/_theme.scss' as theme;
.Box {
    height: 60px;
    width: 100%;
    background-color: theme.$darkGrey;
    display: flex;
    align-items: center;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.24);
    padding: 0 16px;
    &_Input {
        display: flex;
        flex-direction: column;
        height: 20px;
        margin-left: 24px;
        margin-right: auto;
        font-weight: 500;
        font-size: 22px;
        color: theme.$white;
        justify-self: stretch;
    }
}