@use '/styles/_theme.scss' as theme;
.Box {
    width: 100%;
    max-width: 430px;
    background: theme.$dark;
}

.Icon {
    & path,
    & rect {
        fill: theme.$white
    }
}

.BoxCol {
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 22px 0;
}

.BoxProfile {
    display: flex;
    flex-direction: row;
    padding: 24px 16px;
    &_BoxDescription {
        display: flex;
        flex-direction: column;
        margin-left: 16px;
        justify-content: center;
        gap: 8px;
        &_Name {
            color: theme.$white
        }
        &_Description {
            color: theme.$white3
        }
    }
    &_BoxPeople {
        height: 75px;
        width: 75px;
        background-color: theme.$darkGrey2;
        object-fit: cover;
        border-radius: 1000px;
    }
    &_BoxPlaceholderPeople {
        height: 75px;
        width: 75px;
        background-color: theme.$darkGrey2;
        padding: 20px;
        border-radius: 1000px;
    }
}

.Divider {
    width: 100%;
    height: 1px;
    background-color: theme.$darkGrey2;
}