$black: #111111;
$dark: #1e2029;
$darkGrey: #252833;
$subject: #ffbf80;
$location: #4acfac;
$equipment: #7e8ce0;
$tag: #36c7d0;
$conditions: #ffa48e;
$white: #E3E3E5;
$white2: #A5A5A9;
$white3: #707070;
$error: #FF1212